# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CSharp.iml
# Datasource local storage ignored files
/../../../../../../../../../:\DDocuments\PersonalProjects\AdventOfCode\2020\CSharp\.idea\.idea.CSharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
